*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(79, 79, 82, 0.968);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    margin: 8px;
    padding: 8px
}
.navbar button{
    width: 70px;
}
a:hover{
    border-bottom: 1px black solid;
}
.navbar{
    height: 150px;
    margin: 10px;
    padding: 8px;
}
.flex{
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.a{
    color: black;
}
.b{
    color:white;
}
.flex2{
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.flex2 h1{
    font-size:90px;
}

img{
    height: 25px;
    width: 25px;
}
.flex3{
    display:flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    flex-direction: row;
}

.s-box {
	width: 580px;
	margin: 0px auto;
	position: relative;
	margin-top: -8px;
	text-align: center;
}
.s-box .s-input {
	display: block;
	border: 1px solid #ddd;
	color: rgba(0,0,0, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	
}
.s-box  .s-input:hover {
	border: 1px solid #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
}
.s-box .search-icon {
	width: 15px;
    height: 20px;
	background-color: white;
	position: absolute;
	top: 13px;
	left: 14px;
}
.s-box .vs-icon {
	width: 24px;
    background-color: white;
	position: absolute;
	top: 13px;
	right: 24px;
}
.s-btn {
	border: 1px solid transparent;
	padding: 9px 15px;
	color: #666;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 28px;
	
	cursor: pointer;
	
}
.s-btn:hover {
	border: 1px solid #aaa;
}
.s-box a{
    color: rgb(121, 113, 113);
    background-color: white;
}

.languages{
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.languages h2{
    color: white;
    font-size: 20px;
}
.languages a{
    margin: 0;
    padding: 0 auto;
}
.lang{
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    color: white;
    margin-right: 20px;
}
footer{
    padding-top: 108px;
	
}
footer h4 {
	color: white;
	font-size: 15px;
	line-height: 39.5px;
	font-weight: 400;
	padding-left: 29px;
	border: 1px solid black;
    
}
footer a {
	color: white;
	display: inline-block;
	padding: 12px 11.3px;
	font-size: 14px;
}
footer a:hover {
	text-decoration: underline;
}
.links {
	border-bottom: 1px solid black;
    
	display: flex;
	flex-wrap: wrap;
}
.link-1 {
	padding-left: 15.7px;
	flex: 1;
}
.link-2 {
	padding-right: 15.7px;
	
}
/* responsiveness */
@media screen and (max-width:600px) {
	.s-box{
		width: 70%;
	}
	.link-1{
		flex-direction: column;
	}
	.link-2{
		flex-direction: column;
	}
	
}
@media screen and (max-width:800px) {
	
	.link-1{
		display: flex;
		flex-direction: column;
	}
	.link-2{
		display:flex;
		flex-direction: column;
	}
	.flex2 h1{
		font-size: 50px;
	}
	
}

@media screen and (max-width:1000px) ,(min-width:600px){
	.s-box{
		width: 70%;
	}
	
}
@media screen and (max-width:500px) {
	
	 input::placeholder{
		width: 50%;
	}
	
}